<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <header>
    <h1>{{title}}</h1>

    <nav>
      <a href="/">Home</a>
       {{#if currentUser}}
      <b>{{currentUser.email}}</b>
      <a href="/myrooms">My rooms</a>
      <a href="/settings">Settings</a>
      <a href ="/logout">log out</a>

      <!--"Is Admin" is a virtual (fake) property defined in USER model-->


{{#if currentUser.isAdmin}}
      <h3>Admin Zone</h3>
      <a href="/admin/users">User Managements</a>
      {{/if}}
     
      {{else}}
      <a href="/signup">Sign Up</a>
      <a href="/login">Log in</a>
      {{/if}}

     
   
  
    </nav>
  </header>

  {{{body}}}

  <footer>
    <p>Made with at Ironhack</p>
  </footer>

  <script src="/javascripts/script.js"></script>
</body>
</html>